body{
    color: white;      
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px gray;
    padding: 20px;
    font-size: 32px;
}

section {
    background: darkgray;
    padding-bottom: 80px;
    padding-top: 80px;
}
