body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px gray;
    padding: 20px;
    font-size: 32px;
}

section {
    background: rgb(100,203,40);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
    margin-right: 5%;

    h1 {
        font-size: 40px;
    }
}

    p{
        font-size: 20px;
    }